# Binaries
**/bin/
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.slnx
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.aps

# vcpkg
vcpkg_installed/

# Agentic tools
.claude
.wolf
CLAUDE.md